@model IEnumerable<WebUI.Model.Airline>

@{
    ViewBag.Title = "Index";
}

<h2>List of Airline Trips</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirlineCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirlineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AirlineCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirlineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival)
        </td>
       
    </tr>
}

</table>
